body {
  text-align: center;
}

h1 {
  margin: 3vw;
  font-size: 5vw;
}

.check {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: -3.5vw 7vw;
  font-size: 3.5vw;
}

.entrada {
  margin: 3vw;
  color: lime;
  font-size: 4vw;
}

@media (min-width: 930px) {
  h1 {
    margin: 2vw;
    font-size: 2vw;
  }

  .check {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: -3.5vw 30vw;
    font-size: 1.7vw;
  }

  input {
    transform: scale(1.3);
  }
}
